<script>
import firebase from '../firebase'
import { collection, addDoc } from 'firebase/firestore'
const booksCollection = collection(firebase.db, 'books')

export default {
  data() {
    return {
      form: {
        title: '',
        author: '',
        publishing: '',
        section: '',
        origin: '',
        sale: false
      }
    }
  },
  methods: {
    async submitForm() {
      await addDoc(booksCollection, this.form)

      this.$router.push('/')
    }
  }
}
</script>

<template>
  <div class="container">
    <h1>Create book</h1>

    <form @submit.prevent="submitForm">
      <label>
        <p>Title</p>
        <input v-model="form.title" />
      </label>

      <label>
        <p>Author</p>
        <input v-model="form.author" />
      </label>

      <label>
        <p>Publishing</p>
        <input v-model="form.publishing" />
      </label>

      <label>
        <p>Section</p>
        <input v-model="form.section" />
      </label>

      <label>
        <p>Origin</p>
        <input v-model="form.origin" />
      </label>

      <label>
        <p>Sale</p>
        <input v-model="form.sale" type="checkbox" />
      </label>

      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<style>
label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 20px;
}
input {
  width: 300px;
}
</style>
