<script>
import firebase from '../firebase'
import { collection, getDocs, deleteDoc, doc, where, query, or } from 'firebase/firestore'

const booksCollection = collection(firebase.db, 'books')

export default {
  data() {
    return {
      books: [],
      filterValue: ''
    }
  },
  methods: {
    async getBooks() {
      this.books = []

      const filter = this.filterValue.trim()
        ? [
            where('title', '==', this.filterValue),
            where('author', '==', this.filterValue),
            where('publishing', '==', this.filterValue)
          ]
        : []

      const books = await getDocs(query(booksCollection, or(...filter)))

      books.forEach((doc) => {
        console.log(doc.data(), doc.id)

        this.books.push({ ...doc.data(), id: doc.id })
      })
    },
    async deleteBook(id) {
      await deleteDoc(doc(firebase.db, 'books', id))

      await this.getBooks()
    }
  },
  async mounted() {
    await this.getBooks()
  }
}
</script>

<template>
  <div class="container">
    <h1>Books</h1>
    <input style="margin: 20px" v-model="filterValue" placeholder="filter" />
    <button @click="getBooks">Find</button>
    <ul>
      <li v-for="book in books" :key="book.id">
        <h2>{{ book.title }}</h2>
        <h2>{{ book.author }}</h2>
        <h3>{{ book.publishing }}</h3>
        <h3>{{ book.section }}</h3>
        <h3>{{ book.origin }}</h3>
        <h3>{{ book.sale ? 'Sale' : 'Not sale' }}</h3>

        <button @click="deleteBook(book.id)">Delete</button>
      </li>
    </ul>
  </div>
</template>

<style scoped></style>
